PORT = 3333
MONGODB_CONNECTION_STRING = mongodb+srv://ronaktechiebutler:om0VhyF9yHBTYQPC@cluster0.j3lycyq.mongodb.net/
TOKEN_SECRET=asdgfsdfsdfsfa
ADMIN_SECRET_KEY=sdffsdasddsfsdfdwweweferaf
NODE_ENV=DEVELOPMENT